@model MyProject.Models.ANguoiDung
@{
    ViewBag.Title = "Tài khoản quản trị";
    Layout = "~/Views/Shared/_AdmLayout.cshtml";
}
<div class="container-fluid">
    <form id="frm" action="/HeThong/SaveAdmin" method="post">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.NguoiDungID)
        <div class="col-md-12">
            <div class="btn-group pull-right">
                
                <button type="button" class="btn btn-primary" id="btnSave">Lưu</button>                
                <button type="button" class="btn btn-danger" id="btnDelete">Xóa</button>
                <button type="button" class="btn btn-warning" id="btnCancel">Hủy</button>
            </div>
            <table class="table table-condensed">
                <tr>
                    <td class="col1"><label>Tên đăng nhập</label></td>
                    <td class="form-group">@Html.TextBoxFor(x => x.MaNguoiDung, new { id = "txtMaNguoiDung", @class = "form-control ", required = "required" , maxlength = 20 })</td>
                    <td class="col1"><label>Mật khẩu</label></td>
                    <td class="form-group">@Html.PasswordFor(x => x.MatKhau, new { id = "txtPassword", @class = "form-control", required = "required" ,maxlength = 50})</td>
                </tr>
                <tr>
                    <td class="col1"><label>Phân quyền</label></td>
                    <td class="form-group">@Html.DropDownListFor(x => x.MaNhomNguoiDung, new SelectList((System.Collections.ICollection)ViewData["type"], "MaNhomNguoiDung", "TenNhomNguoiDung"), new { @class = "form-control" })</td>
                    <td class="col1"><label>Trạng thái</label></td>
                    <td class="form-group">@Html.DropDownListFor(x => x.TrangThai, new SelectList((System.Collections.ICollection)ViewData["status"], "ID", "Name"), new { @class = "form-control" })</td>
                </tr>
            </table>
        </div>
    </form>
</div>
@section scripts{
    <script>
        $(function () {
            // Disable button submit when submit form
            $('form').submit(function () {
                $('#btnSave').attr('disabled', 'disabled');
            });

            // Turn off autocomplete
            $('form,input,select,textarea').attr("autocomplete", "off");
            
            if ($('#admin_id').val() != 0){
                $('.viewOnly').each(function() {
                    $(this).attr('disabled',true);
                });
            }

            $('#btnCancel').click(function () {
                window.location.href = '/HeThong/Admin';
            });

            $('#btnSave').click(function () {
                $('form').submit();
            });

            $('#btnDelete').click(function () {
                if (confirm('Bạn có chắc không?')) {
                    if ($('#admin_id').val() == 0) window.location.href = '/HeThong/Admin';
                    $.post('/HeThong/DeleteAdmin', { Id: $('#admin_id').val() }, function () {
                        window.location.href = '/HeThong/Admin';
                    });
                }
            });

           
        });

        $("#showMenuTool").css("background-color", "#000055");
    </script>
}