@model MyProject.Models.AMenu
@{
    ViewBag.Title = "Thông tin chỉnh sửa Menu";
    Layout = "~/Views/Shared/_AdmLayout.cshtml";
}
<div class="container-fluid">
    <form id="frm" action="/HeThong/SaveAmenu" method="post">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.MenuID, new { id = "txtMenuID" })
        <div class="col-md-12">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary" id="btnSave">Lưu</button>
                <button type="button" class="btn btn-danger" id="btnDelete">Xóa</button>
                <button type="button" class="btn btn-warning" id="btnCancel">Hủy</button>
            </div>
            <table class="table table-condensed">
                <tr>
                    <td class="col1"><label>Mã Menu</label></td>
                    <td class="form-group">@Html.TextBoxFor(x => x.MaMenu, new { id = "txtMaMenu", @class = "form-control viewOnly", required = "required", maxlength = 20 })</td>
                    <td class="col1"><label>Tên Menu</label></td>
                    <td class="form-group">@Html.TextBoxFor(x => x.TenMenu, new { id = "txtTenMenu", @class = "form-control", required = "required", maxlength = 100 })</td>
                </tr>
                <tr>
                    <td class="col1"><label>Chức năng</label></td>
                    <td class="form-group">@Html.TextBoxFor(x => x.ChucNang, new { id = "txtChucNang", @class = "form-control", required = "required", maxlength = 100 })</td>
                    <td class="col1"><label>Người dùng</label></td>
                    <td class="form-group">@Html.TextBoxFor(x => x.NguoiDung, new { id = "txtNguoiDung", @class = "form-control", required = "required", maxlength = 20 })</td>
                </tr>                 
                <tr>
                    <td class="col1"><label>Mô tả</label></td>
                    <td colspan="3" class="form-group">@Html.TextAreaFor(x => x.MoTa, new { id = "txtMoTa", @class = "form-control", required = "required", maxlength = 250 })</td>
                </tr>
                <tr>
                    <td class="col1"><label>Trạng thái</label></td>
                    <td class="form-group">@Html.DropDownListFor(x => x.TrangThai, new SelectList((System.Collections.ICollection)ViewData["type"], "Value", "Text"), new { @class = "form-control" })</td>
                    <td class="col1"><label>Hoặt động</label></td>
                    <td class="form-group">@Html.DropDownListFor(x => x.Active, new SelectList((System.Collections.ICollection)ViewData["lstActive"], "Value", "Text"), new { @class = "form-control" })</td>
                </tr> 
            </table>
        </div>
    </form>
</div>
@section scripts{
    <script>
        $(function () {
            // Disable button submit when submit form
            $('form').submit(function () {
                $('#btnSave').attr('disabled', 'disabled');
            });

            // Turn off autocomplete
            $('form,input,select,textarea').attr("autocomplete", "off");

            if ($('#txtMaMenu').val() != 0) {
                $('.viewOnly').each(function () {
                    $(this).attr('disabled', true);
                });
            }

            $('#btnCancel').click(function () {
                window.location.href = '/HeThong/AMenu';
            });

            $('#btnSave').click(function () {
                $('form').submit();
            });

            $('#btnDelete').click(function () {
                if (confirm('Bạn có chắc không?')) {
                    if ($('#MenuID').val() == 0) window.location.href = '/HeThong/AMenu';
                    $.post('/HeThong/DeleteAMenu', { Id: $('#MenuID').val() }, function () {
                        window.location.href = '/HeThong/AMenu';
                    });
                }
            });
        });

        $("#showMenuTool").css("background-color", "#000055");
    </script>
}