@model MyProject.Models.DMBan
@{
    ViewBag.Title = "Tài khoản quản trị";
    Layout = "~/Views/Shared/_AdmLayout.cshtml";
}
<div class="container-fluid">
    <form id="frm" action="/HeThong/SaveDMBan" method="post">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.BanID, new { id = "txtBanID" })
        <div class="col-md-12">
            <div class="btn-group pull-right">
                
                <button type="button" class="btn btn-primary" id="btnSave">Lưu</button>                
                <button type="button" class="btn btn-danger" id="btnDelete">Xóa</button>
                <button type="button" class="btn btn-warning" id="btnCancel">Hủy</button>
            </div>
            <table class="table table-condensed">
                <tr>
                    <td class="col1"><label>Mã Phòng</label></td>
                    <td class="form-group">@Html.DropDownListFor(x => x.PhongID, new SelectList((System.Collections.ICollection)ViewData["maPhong"], "PhongID", "TenPhong"), "Chọn tầng", new { id = "cboTang", @class = "form-control", required = "required" })</td>                    
                    <td class="col1"><label>Tên Tầng</label></td>
                </tr>
                <tr>
                    <td class="col1"><label>Mã Bàn</label></td>
                    <td class="form-group">@Html.TextBoxFor(x => x.MaBan, new { id = "txtMaBan", @class = "form-control  viewOnly", required = "required", maxlength = 5 })</td>
                    <td class="col1"><label>Tên Bàn</label></td>
                    <td class="form-group">@Html.TextBoxFor(x => x.TenBan, new { id = "txtTenBan", @class = "form-control", required = "required", maxlength = 50 })</td>
                </tr>
                <tr>
                    <td class="col1"><label>Số lượng</label></td>
                    <td class="form-group">@Html.TextBoxFor(x => x.SoLuong, new { id = "txtMaBan", @class = "form-control", required = "required", maxlength = 5 })</td>
                    <td class="col1"><label>Loại bàn</label></td>
                    <td class="form-group">@Html.TextBoxFor(x => x.LoaiBan, new { id = "txtTenBan", @class = "form-control", required = "required", maxlength = 50 })</td>
                </tr>
                <tr>                  
                    <td class="col1"><label>Mô tả</label></td>
                    <td colspan="3" class="form-group">@Html.TextAreaFor(x => x.MoTa, new { id = "txtMoTa", @class = "form-control", required = "required", maxlength = 100 })</td>
                </tr>
                 
            </table>
        </div>
    </form>
</div>
@section scripts{
    <script>
        $(function () {
            // Disable button submit when submit form
            $('form').submit(function () {
                $('#btnSave').attr('disabled', 'disabled');
            });

            // Turn off autocomplete
            $('form,input,select,textarea').attr("autocomplete", "off");
            
            if ((typeof $('#txtBanID').val() == 'undefined') || $('#txtBanID').val() != 0) {
                $('.viewOnly').each(function() {
                    $(this).attr('disabled',true);
                });
            }

            $('#btnCancel').click(function () {
                window.location.href = '/HeThong/DMBan';
            });

            $('#btnSave').click(function () {
                $('form').submit();
            });

            $('#btnDelete').click(function () {
                if (confirm('Bạn có chắc không?')) {
                    if ((typeof $('#txtBanID').val() == 'undefined') || $('#txtBanID').val() == "0") {
                        window.location.href = '/HeThong/DMBan';
                        
                    }
                  
                    $.post('/HeThong/DeleteDMBan', {
                        banID: $('#txtBanID').val()
                    }, function () {
                        window.location.href = '/HeThong/DMBan';
                    });
                }
            });

           
        }); 
    </script>
}