@model MyProject.Models.DMPhong
@{
    ViewBag.Title = "Tài khoản quản trị";
    Layout = "~/Views/Shared/_AdmLayout.cshtml";
}
<div class="container-fluid">
    <form id="frm" action="/HeThong/SaveDMPhong" method="post">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.PhongID, new { id = "txtPhongID" })
        <div class="col-md-12">
            <div class="btn-group pull-right">
                
                <button type="button" class="btn btn-primary" id="btnSave">Lưu</button>                
                <button type="button" class="btn btn-danger" id="btnDelete">Xóa</button>
                <button type="button" class="btn btn-warning" id="btnCancel">Hủy</button>
            </div>
            <table class="table table-condensed">
                <tr>
                    <td class="col1"><label>Mã tầng</label></td>
                    <td class="form-group">@Html.DropDownListFor(x => x.MaTang, new SelectList((System.Collections.ICollection)ViewData["maTang"], "TangID", "TenTang"), "Chọn tầng", new { id = "cboTang", @class = "form-control", required = "required" })</td>                    
                    <td class="col1"><label>Tên Tầng</label></td>
                    
                </tr>
                <tr>
                    <td class="col1"><label>Mã Phòng</label></td>
                    <td class="form-group">@Html.TextBoxFor(x => x.MaPhong, new { id = "txtMaPhong", @class = "form-control  viewOnly", required = "required", maxlength = 20 })</td>
                    <td class="col1"><label>Tên Phòng</label></td>
                    <td class="form-group">@Html.TextBoxFor(x => x.TenPhong, new { id = "txtTenPhong", @class = "form-control", required = "required", maxlength = 250 })</td>
                </tr>
                <tr>                  
                    <td class="col1"><label>Trạng thái</label></td>
                    @*<td class="form-group">@Html.DropDownListFor(x => x.TrangThai, new SelectList((System.Collections.ICollection)ViewData["TrangThai"], "Value", "Text"), new { @class = "form-control" })</td>*@
                </tr>
                 
            </table>
        </div>
    </form>
</div>
@section scripts{
    <script>
        $(function () {
            // Disable button submit when submit form
            $('form').submit(function () {
                $('#btnSave').attr('disabled', 'disabled');
            });

            // Turn off autocomplete
            $('form,input,select,textarea').attr("autocomplete", "off");
            
            if ((typeof $('#txtPhongID').val() == 'undefined') || $('#txtPhongID').val() != 0) {
                $('.viewOnly').each(function() {
                    $(this).attr('disabled',true);
                });
            }

            $('#btnCancel').click(function () {
                window.location.href = '/HeThong/DMPhong';
            });

            $('#btnSave').click(function () {
                $('form').submit();
            });

            $('#btnDelete').click(function () {
                if (confirm('Bạn có chắc không?')) {
                    if ((typeof $('#txtPhongID').val() == 'undefined') || $('#txtPhongID').val() == "0") {                        
                        window.location.href = '/HeThong/DMTang';
                        
                    }
                  
                    $.post('/HeThong/DeleteDMPhong', {
                        phongID: $('#txtPhongID').val() 
                    }, function () {
                        window.location.href = '/HeThong/DMPhong';
                    });
                }
            });

           
        }); 
    </script>
}