@model IEnumerable<MySony.Models.RS_Video>
@{
    ViewBag.Title = "Index";
}

<section class="vbox bg-light lter">
    <section class="scrollable">
        <div class="page page-main-wrapper page-exams orange">
            <div class="col-xs-12 col-sm-12 col-md-12 left-col">
                <div class="node-view">
                    <h1 class="page-title">Video giới thiệu sản phẩm</h1>
                    <div class="node-content">
                        <div class="node-description hidden-xs">
                            <p>
                                Hãy cùng chúng tôi thưởng thức những đoạn phim quảng cáo đặc sắc giới thiệu các sản phẩm Sony mới nhất.
                            </p>
                        </div>
                        <div class="sony-filter-tabs page-exams-tabs">
                            <ul>
                                <li class="active">
                                    <div><a href="#news">Đang diễn ra</a></div>
                                </li>
                                <li>
                                    <div><a href="#promotions">Sắp diễn ra</a></div>
                                </li>
                            </ul>
                        </div>
                        <div class="row clearfix page-exams-list">
                            @foreach (var item in Model)
                            {
                                if (item.IsHighlight)
                                {
                                    <div class="col-xs-12 col-sm-6 col-md-8">
                                        <div class="exams-item-large hidden-xs page-exams-item">
                                            <div class="figure-wrapper">
                                                <div class="figure-image orange">
                                                    <a class="fancybox fancybox.iframe" href="@item.Source" data-fb="#exam-1" data-zing="#exam-1" title="@item.Title">
                                                        <img src="@item.Thumb" alt="">
                                                        <i class="fa fa-caret-right sony-play-button"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="page-exams-item-meta">
                                                <div class="col-xs-12 col-sm-3 col-md-3">
                                                    <h2 class="page-exams-item-title"><a class="fancybox fancybox.iframe" href="@item.Source" data-fb="#exam-1" data-zing="#exam-1" title="@item.Title">@item.Title</a></h2>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-6">
                                                    <div class="page-exams-item-desc">@item.Brief</div>
                                                </div>
                                                <div class="col-xs-12 col-sm-3 col-md-3">
                                                    <span class="page-exams-item-date">@item.PublishDate</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }
                                else
                                {
                                    

                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <div class="page-exams-item">
                                            <div class="figure-wrapper">
                                                <div class="figure-image green">
                                                    <a class="fancybox fancybox.iframe" href="@item.Source" data-fb="#exam-3" data-zing="#exam-3" title="@item.Title">
                                                        <img src="@item.Thumb" alt="">
                                                        <i class="fa fa-caret-right sony-play-button"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="page-exams-item-meta">
                                                <h2 class="page-exams-item-title"><a class="fancybox fancybox.iframe" href="@item.Source" data-fb="#exam-3" data-zing="#exam-3" title="@item.Title">@item.Title</a></h2>
                                                <div class="page-exams-item-desc">@item.Brief</div>
                                                <span class="page-exams-item-date">@item.PublishDate</span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <!--End exams list-->
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>