@model MySony.ViewModels.FAQVM
@{
    ViewBag.Title = "Index";
    ViewBag.IsMyProfile = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int idx = 1;
    int max = ViewBag.MaxPageNews;
}

<section class="vbox bg-light lter">
    <section class="scrollable">
        <div class="page page-main-wrapper page-faq lilac">
            <div class="col-xs-12 col-sm-12 col-md-11 left-col">
                <div class="node-view">
                    <h1 class="page-title">Hỏi & đáp</h1>
                    <div class="node-content">
                        <div class="node-description">Nếu bạn có bất cứ câu hỏi nào về My Sony, bạn có thể tìm thấy các câu trả lời tại đây. Nếu như bạn không thể tìm thấy câu trả lời mà mình mong muốn, vui lòng gửi thắc mắc cho chúng tôi với tiêu đề 'Thành viên My Sony ' và chúng tôi sẽ liên lạc với bạn một cách nhanh nhất.</div>
                        <div class="view-faq-list" id="showFAQ">

                            <ul class="faq-list" id="subFAQ">
                                @foreach (var item in Model.LstFaq)
                                {
                                    <li class="item ">
                                        <div class="faq-question">
                                            <span class="faq-number">@idx</span>
                                            <h2>
                                                @Html.DisplayFor(modelItem => item.Question)
                                                <a href="#"><i class="i i-arrow-left4 hidden-xs"></i></a>
                                                <a href="#"><i class="i i-arrow-right4 hidden-xs"></i></a>
                                            </h2>
                                        </div>
                                        <div class="faq-answer">
                                            @Html.DisplayFor(modelItem => item.Answer)
                                        </div>
                                    </li>
                                    idx++;
                                }

                            </ul>
                        </div>
                        <div class="text-center site-pager">
                            <ul class="pager" id="pagerFAQ">
                                <li class="prev">
                                    <a href="#">prev</a>
                                </li>
                                <li class="active">
                                    <a>1</a>
                                </li>
                                @for (int i = 2; i <= ViewBag.MaxPageNews; i++)
                                {
                                    <li>
                                        <a href="#">@i</a>
                                    </li>
                                }
                                <li class="next">
                                    <a href="#">next</a>
                                </li>
                            </ul>
                        </div>
                        <!--End articles pager-->
                    </div>
                </div>
            </div>
        </div>
    </section>
</section> 
@section scripts{
    <script src="/static/js/application_faq.js"></script>
    <script>
    function loadArtcle(page, pager, show) {
        //  alert($(pager).html());
        $.get('/FAQ/GetFAQByPage/?page=' + page, function (data) {
            if (data.result == "OK") {
                //alert($(show).html());
                $(show).html('');
                var number = page > 1 ? (page - 1) + 6 : (page - 1) + 1;

                $(data.res).each(function (index, e) {
                    var html = ' <li class="item ">\
                                        <div class="faq-question">\
                                            <span class="faq-number">' + number + '</span>\
                                            <h2>\
                                                ' + e.Question + '\
                                                <a href="#"><i class="i i-arrow-left4 hidden-xs"></i></a>\
                                                <a href="#"><i class="i i-arrow-right4 hidden-xs"></i></a>\
                                            </h2>\
                                        </div>\
                                        <div class="faq-answer">\
                                            ' + e.Answer + '\
                                        </div>\
                                    </li> ';
                    $(show).append(html);
                    number++;
                    var pageStr = '';
                    var start = Math.max(page - 2, parseInt(@ViewBag.MinPage));
                    var length = Math.min(parseInt(page) + 5, parseInt(@ViewBag.MaxPageNews));
                    for (var i = start; i <= length; i++) {
                        if (i == page) {
                            pageStr += ' <li class="active"> <a >' + i + '</a></li>';
                        } else {
                            pageStr += ' <li><a href="#" data="' + i + '">' + i + '</a></li>';
                        }

                    }
                    $(pager).html(' <li class="prev" ><a href="#" data="@ViewBag.MinPageNews">prev</a></li>' + pageStr + '<li class="next"><a href="#" data="@ViewBag.MaxPageNews">next</a></li>');

                });
            }
            $('#pagerFAQ li a').click(function () {
                var a = $(this).html();
                 
                var valueActive = $(this).parents('#pagerFAQ').find('.active a').text();
                if (a == 'prev') {
                    if (valueActive == 1) {
                        return false;
                    } else {
                        a = parseInt(valueActive) - 1;
                    }
                }
                if (a == 'next') {
                    if (valueActive == parseInt(@ViewBag.MaxPageNews)) {
                        return false;
                    } else {
                        a = parseInt(valueActive) + 1;
                    }
                }
                var pager = $(this).closest('.pager');
                var show = $('#subFAQ');
                loadArtcle(a, pager, show);
                return false;
            });

            $('.view-faq-list .faq-list h2').click(function (e) {
                e.preventDefault();
                var ctop = $($(this)).offset().top;
                if ($(window).width() < 768) {
                    $('.view-faq-list .faq-list').find('.faq-answer').hide();
                    $('.view-faq-list .faq-list .item').removeClass('active');
                    $(this).parent().parent().addClass('active');
                    $(this).parent().parent().find('.faq-answer').slideToggle();
                } else {
                    if ($(this).parent().parent().hasClass('active')) {
                        $(this).parent().parent().removeClass('active');
                        $(this).parent().parent().find('.faq-answer').removeAttr("style");
                        ctop = ctop - 55;
                    } else {
                        $(this).parent().parent().addClass('active');
                        $(this).parent().parent().find('.faq-answer').css({
                            display: 'table-cell'
                        });
                        ctop = ctop - 15;
                    }
                }

                $('html, body').animate({
                    scrollTop: ctop
                });
            });
        });

        return false;
    };

    $('#pagerFAQ li a').click(function () {
        var a = $(this).html();        
        var valueActive = $(this).parents('#pagerFAQ').find('.active a').text();
        if (a == 'prev') {
            if (valueActive == 1) {
                return false;
            } else {
                a = parseInt(valueActive) - 1;
            }
        }
        if (a == 'next') {
            if (valueActive == parseInt(@ViewBag.MaxPageNews)) {
                return false;
            } else {
                a = parseInt(valueActive) + 1;
            }
        }

        var pager = $(this).closest('.pager');
        var show = $('#subFAQ');
        loadArtcle(a, pager, show);
        return false;
    });

    </script>
}
