@using MyProject.Functions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
        @{
        var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
        
}
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/Site.css" rel="stylesheet" />
    <link href="/Content/kendo/kendo.common-bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/kendo/kendo.bootstrap.min.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/app.v1.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/customer.style.css" type="text/css" />    
    <link rel="stylesheet" href="/static/css/screen.css" type="text/css" />      
    <link rel="stylesheet" href="/static/js/chosen/chosen.css" type="text/css" />
    <link href="/static/css/admin.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/respond.min.js"></script>
    <script src="/Scripts/kendo/kendo.all.min.js"></script>
    <script src="/Scripts/kendo/kendo.aspnetmvc.min.js"></script>
    <script src="/static/js/chosen/chosen.jquery.min.js"></script>
    <script src="@Url.Content("~/Scripts/cultures/kendo.culture." + culture + ".min.js")"></script>
    <script>kendo.culture("@culture");</script>
</head>
<body class="admin">
    <section class="vbox site-wrapper page-user dark-green">
        <section>
            <section class="hbox stretch">
                <section id="content">
                    <header class="header header-md navbar bg site-header-top">
                        
                        <div class="navbar-header aside-md dk site-logo">
                            <a class="btn btn-link visible-xs site-m-menu-toggle" data-toggle="class:nav-off-screen" data-target="#nav"> <i class="fa fa-bars"></i> </a>
                            <a href="/" class="navbar-brand"> <img src="" class="m-r-sm" alt="logo" height="17" width="100" /> </a>
                        </div>
                        <div class="page-header-logo">
                            <div class="customer-logo">
                                <img src="" alt="...">
                            </div>
                            <div class="navbar-header site-logan">
                                 
                            </div>
                        </div>
                    </header>
                    <section class="vbox page-user-content-box">
                        <div class="page-header padder page-contrains">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                @Html.ActionLink("Hệ Thống", "Index", "HeThong", null, new { @class = "navbar-brand" })
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                  
                                    <li class="dropdown showsuperAdmin">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="showCustomerCMS">Khách hàng<span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>@Html.ActionLink("Loại khách hàng", "CustomerType", "HeThong")</li>
                                            <li>@Html.ActionLink("Khách hàng", "Customer", "HeThong")</li>
                                        </ul>
                                    </li>
                                    

                                    <li class="dropdown showsuperAdmin" >
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="showMenuCMS">CMS<span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>@Html.ActionLink("Phân loại nhân viên", "DMNhanVienType", "HeThong")</li>
                                            <li>@Html.ActionLink("Nhân viên", "DMNhanVien", "HeThong")</li>
                                            <li>@Html.ActionLink("Loại Ca Trực", "DMCa", "HeThong")</li>
                                            <li>@Html.ActionLink("Ca Trực", "PhanCong", "HeThong")</li>
                                        </ul>
                                    </li>
                                    <li class="dropdown showsuperAdmin">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="showMenuShop">Thông tin cửa hàng<span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>@Html.ActionLink("Quản lý tầng", "DMTang", "HeThong")</li>
                                            <li>@Html.ActionLink("Quản lý phòng", "DMPhong", "HeThong")</li>
                                            <li>@Html.ActionLink("Quản lý bàn", "DMBan", "HeThong")</li>
                                        </ul>
                                    </li>
                                    <li class="dropdown showsuperAdmin">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="showMenuProduct">Thông tin thực đơn<span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            
                                        </ul>
                                    </li>
                                    <li class="dropdown showsuperAdmin">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="showMenuSystem">Cấu hình chung<span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                          
                                            <li>@Html.ActionLink("Trạng thái", "Status", "HeThong")</li>
                                        </ul>
                                    </li>
                                    <li class="dropdown showsuperAdmin">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="showMenuTool">Công cụ<span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                             
                                            <li>@Html.ActionLink("Quản lý tài khoản", "Admin", "HeThong")</li>
                                            <li>@Html.ActionLink("Quản lý loại tài khoản", "AdminType", "HeThong")</li>
                                            <li>@Html.ActionLink("Thông tin menu", "AMenu", "HeThong")</li>
                                            <li>@Html.ActionLink("Log", "ViewLog", "HeThong")</li>
                                        </ul>
                                    </li>
                                    <li>@Html.ActionLink("Đăng xuất", "Logout", "LoginCP")</li>
                                </ul>
                            </div>
                        </div>
                        <section class="scrollable">
                            <div class="page page-main-content">
                                <div class="page-content padder page-contrains">
                                    <div class="page-form-wrapper">
                                        @RenderBody()                                        
                                    </div>
                                </div>
                                <div class="page-footer padder">
                                    <div class="row m-t">
                                        <div class="col-md-6">
                                            <div class="block block-landing-footer-menu">
                                                <div class="block-content">
                                                    <ul class="menu">
                                                          
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="block block-landing-footer-copyright">
                                                <div class="block-content">
                                                    @DateTime.Now.Year ©  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End content-->
                        </section>
                    </section>
                    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
                </section>
            </section>
        </section>
    </section>
    <!--ajax loading screen-->
    <div id="ajax_loader" style="background-color: rgba(255, 255, 255, 0.5); z-index: 9999; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; display: none;" class="">
        <img src="/static/images/loading.gif" style="position: fixed; left: 50%; top: 50%;" class="">
    </div>
    <!--alert modal-->
    <div class="modal fade" id="modalNotice" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content clearfix">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    @MvcHtmlString.Create(@TempData["Notice"] as string)
                </div>
            </div>
        </div>
    </div><!--end-->

      <!-- my modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog login">
            <div class="modal-content clearfix">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" class="font-thin h1">&times;</span><span class="sr-only font-thin">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Thông báo</h4>
                </div>
                <div class="modal-body">
                    <div style="line-height:20px" id="msg">msg</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalContainer" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
								Modal title
							</h4>
						</div>
						<div class="modal-body">
							...
						</div>
						<div class="modal-footer">
							 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary">Save changes</button>
						</div>
					</div>
					
				</div>
				
			</div>

    <script>
    // Setup CSRF safety for AJAX:
    $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
        if (options.type.toUpperCase() === "POST") {
            var token = $("input[name^=__RequestVerificationToken]").first();
            if (!token.length) return;
            var tokenName = token.attr("name");
            if (options.contentType.indexOf('application/json') === 0) {
                options.url += ((options.url.indexOf("?") === -1) ? "?" : "&") + token.serialize();
            } else if (typeof options.data === 'string' && options.data.indexOf(tokenName) === -1) {
                options.data += (options.data ? "&" : "") + token.serialize();
            }
        }
    });
    // for ajax loading
    $(document).ajaxStop(function () {
        $('#ajax_loader').hide();
    });
    $(document).ajaxStart(function () {
        $('#ajax_loader').show();
    });
    $(document).ready(function () {
        var idMenu = sessionStorage.item_color;
        if (idMenu !== '') {
            $("#" + idMenu).css("background-color", "#000055");
        }
        sessionStorage.item_color = '';
        // show menu
        
        


    });

    $('.dropdown-menu li').click(function() {
        sessionStorage.item_color = $(this).parents('.dropdown').find('.dropdown-toggle').attr('id');
    });


</script>
    @{
        // Show modal
        var isShow = TempData["ShowPopup"] as Nullable<Boolean>;
        if (isShow == true)
        {
            <script>
                $(function () {
                    $("#modalNotice").modal("show");
                });
            </script>
        }
         
}    
    @RenderSection("scripts", required: false)
</body>
</html>
