@model MySony.Models.RS_Article
@{
    ViewBag.Title = "Bài viết";
    Layout = "~/Views/Shared/_AdmLayout.cshtml";
}
<div class="container-fluid">
@using (Html.BeginForm("SaveArticle", "HeThong"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ID)
    <table class="table table-condensed">
        <tr>
            <td class="col1"><label>Danh mục</label></td>
            <td class="col2">@Html.DropDownListFor(x => x.CategoryID, new SelectList((System.Collections.ICollection)ViewData["categories"], "ID", "Name"), new { id = "cboCategory", @class = "form-control" })</td>
            <td class="col1"><label>Tiêu đề</label></td>
            <td>@Html.TextBoxFor(x => x.Title, new { id = "txtTitle", @class = "form-control" })</td>
        </tr>
        <tr>
            <td class="col1"><label>Mô tả ngắn</label></td>
            <td colspan="3">@Html.TextAreaFor(x => x.Brief, new { id = "txtBrief", @class = "form-control" })</td>
        </tr>
        <tr>
            <td class="col1"><label>Url</label></td>
            <td class="col2">@Html.TextBoxFor(x => x.Slug, new { id = "txtSlug", @class = "form-control" })</td>
            <td class="col1"><label>Hình bài viết</label></td>
            <td>@Html.TextBoxFor(x => x.Thumbnail, new { id = "txtThumbnail", @class = "form-control" })</td>
        </tr>
        <tr>
            <td class="col1"><label>Thứ tự</label></td>
            <td class="col2">@Html.TextBoxFor(x => x.OrderNo, new { id = "txtOrderNo", @class = "form-control" })</td>
            <td class="col1"><label>Ngày phát hành</label></td>
            <td>@Html.TextBoxFor(x => x.PublishDate, new { id = "txtPublishDate", @class = "form-control" })</td>
        </tr>
        <tr>
            <td class="col1"><label>Nổi bật</label></td>
            <td class="col2">@Html.CheckBoxFor(m => m.IsTop)</td>
            <td class="col1"><label>Tình trạng</label></td>
            <td>@Html.CheckBoxFor(m => m.IsActive)</td>
        </tr>
        <tr style="display: none">
            <td class="col1"><label>Ngày Tạo</label></td>
            <td class="col2">@Html.TextBoxFor(m => m.Created)</td>
            <td class="col1"><label>Người Tạo</label></td>
            <td>@Html.TextBoxFor(m => m.CreatedBy)</td>
        </tr>

    </table>
    @(Html.Kendo().EditorFor(m => m.ArticleContent)
        .Name("ArticleContent")
        .Encode(false)
        .HtmlAttributes(new { style = "height:480px" })
        .Tools(tools => tools.InsertImage().ViewHtml().FontName().FontSize().FontColor().BackColor())
        .ImageBrowser(imageBrowser => imageBrowser
        .Image("~/Galleries/{0}")
        .Read("Read", "ImageBrowser")
        .Create("Create", "ImageBrowser")
        .Destroy("Destroy", "ImageBrowser")
        .Upload("Upload", "ImageBrowser")
        .Thumbnail("Thumbnail", "ImageBrowser")
        )
    )
    <div class="btn-group pull-right">
        <input type="submit" class="btn btn-primary" id="btnSave" value="Lưu" />
        <button type="button" class="btn btn-warning" id="btnCancel">Hủy</button>
        <button type="button" class="btn btn-danger" id="btnDelete">Xóa</button>
    </div>
}
</div>
@section scripts{
    <script>
        $(function () {
            Date.prototype.yyyymmdd = function() {         
                                
                var yyyy = this.getFullYear().toString();                                    
                var mm = (this.getMonth()+1).toString(); // getMonth() is zero-based         
                var dd  = this.getDate().toString();             
                            
                return (dd[1]?dd:"0"+dd[0]) + '/'+  (mm[1]?mm:"0"+mm[0]) + '/' + yyyy ;
            };  

            var d = new Date();
            if ($('#txtPublishDate').val() == '') {
                $('#txtPublishDate').val(d.yyyymmdd());
            } 
           


        if(@Request.Params["cat"] > 0) $('#cboCategory').val(@Request.Params["cat"])

        $('#txtTitle').blur(function (e) {
            $.get("/HeThong/GetSlug/", { Title: $('#txtTitle').val() }, function (result) {
                $('#txtSlug').val(result);
            });
        });

        $('#btnCancel').click(function () {
            window.location.href = '/HeThong/Article';
        });
        $('#btnDelete').click(function () {
            if (confirm('Are you sure?')) {
                if ($('#ID').val() == 0) window.location.href = '/HeThong/Article';
                $.post('/HeThong/DeleteArticle', { Id: $('#ID').val() }, function () {
                    window.location.href = '/HeThong/Article';
                });
            }
        });
    });
    </script>
}