@model MySony.Models.category
@{
    ViewBag.Title = "Danh mục sản phẩm";
    Layout = "~/Views/Shared/_AdmLayout.cshtml";
}
<div class="container-fluid">
    @using (Html.BeginForm("SaveProductCategory", "HeThong", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.category_id)

        <div class="col-lg-12">
            <div class="btn-group pull-right">
                <input type="submit" class="btn btn-primary" id="btnSave" value="Lưu" />
                <button type="button" class="btn btn-warning" id="btnCancel">Hủy</button>
                <button type="button" class="btn btn-danger" id="btnDelete">Xóa</button>
            </div>
            <table class="table">
                <tr>
                    <td class="col1"><label>Tên loại sản phẩm</label></td>
                    <td>@Html.TextBoxFor(x => x.name, new { id = "txtName", style = "width:100%", required = "required" })</td>
                    <td class="col1"><label>Trạng thái</label></td>
                    <td>@Html.DropDownListFor(x => x.status_id, new SelectList((System.Collections.ICollection)ViewData["status"], "ID", "Name"), new { id = "cboStatus", style = "width:100%" })</td>
                </tr>
                <tr>
                    <td><label>Số tháng bảo hành</label></td>
                    <td>@Html.TextBoxFor(x => x.RS_base_warranty_months, new { style = "width:100%" })</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="col1"><label>Hình sản phẩm</label></td>
                    <td>
                        <div class="col-lg-12">
                            @(Html.Kendo().EditorFor(g => g.modelImage)
                                .Name("modelImage")
                                .Encode(false)
                                //.HtmlAttributes(new { style = "height:200px" })
                                .Tools(tools => tools.Clear().InsertImage())
                                .ImageBrowser(imageBrowser => imageBrowser
                                .Image("~/categoryimages/{0}")
                                .Read("Read", "ModelImageBrowser")
                                .Create("Create", "ModelImageBrowser")
                                .Destroy("Destroy", "ModelImageBrowser")
                                .Upload("Upload", "ModelImageBrowser")
                                .Thumbnail("Thumbnail", "ModelImageBrowser")
                                )
                            )
                        </div>
                    </td>
                    <td class="col1"><label>Hình serial</label></td>
                    <td>
                        @(Html.Kendo().EditorFor(g => g.serialImage)
                            .Name("serialImage")
                            .Encode(false)
                            .Tools(tools => tools.Clear().InsertImage())
                            .ImageBrowser(imageBrowser => imageBrowser
                            .Image("~/categoryimagesview/{0}")
                            .Read("Read", "SerialImageBrowser")
                            .Create("Create", "SerialImageBrowser")
                            .Destroy("Destroy", "SerialImageBrowser")
                            .Upload("Upload", "SerialImageBrowser")
                            .Thumbnail("Thumbnail", "SerialImageBrowser")
                            )
                        )
                    </td>
                </tr>
                <tr>
                    <td class="col1"><label>Hướng dẫn xem model</label></td>
                    <td>
                        <div class="col-lg-12">
                            @(Html.Kendo().EditorFor(g => g.viewModelImage)
                                .Name("viewModelImage")
                                .Encode(false)
                                .Tools(tools => tools.Clear().InsertImage())
                                .ImageBrowser(imageBrowser => imageBrowser
                                .Image("~/categoryimages/{0}")
                                .Read("Read", "ModelImageBrowser")
                                .Create("Create", "ModelImageBrowser")
                                .Destroy("Destroy", "ModelImageBrowser")
                                .Upload("Upload", "ModelImageBrowser")
                                .Thumbnail("Thumbnail", "ModelImageBrowser")
                                )
                            )
                        </div>
                    </td>
                    <td class="col1"><label>Hướng dẫn xem serial</label></td>
                    <td>
                        @(Html.Kendo().EditorFor(g => g.viewSerialImage)
                            .Name("viewSerialImage")
                            .Encode(false)
                            .Tools(tools => tools.Clear().InsertImage())
                            .ImageBrowser(imageBrowser => imageBrowser
                            .Image("~/categoryimagesview/{0}")
                            .Read("Read", "SerialImageBrowser")
                            .Create("Create", "SerialImageBrowser")
                            .Destroy("Destroy", "SerialImageBrowser")
                            .Upload("Upload", "SerialImageBrowser")
                            .Thumbnail("Thumbnail", "SerialImageBrowser")
                            )
                        )
                    </td>
                </tr>

            </table>
        </div>
    }
</div>
@section scripts{
    <script type="text/javascript">
    $(function () {
        // Set editor body is read only
        //$($('#viewModelImage').data().kendoEditor.body).attr('contenteditable', false)
        //$($('#viewSerialImage').data().kendoEditor.body).attr('contenteditable', false)
        $('#btnCancel').click(function () {
            window.location.href = '/HeThong/ProductCategory';
        });
        $('#btnDelete').click(function () {
            if (confirm('Bạn có chắc không?')) {
                if ($('#ID').val() == 0) window.location.href = '/HeThong/ProductCategory';
                $.post('/HeThong/DeleteProductCategory', { Id: $('#category_id').val() }, function () {
                    window.location.href = '/HeThong/ProductCategory';
                });
            }
        });
    })
    </script>
}