@using MyProject.Functions
@{
    ViewBag.Title = "Home Page";
}

<section class="vbox bg-white">
    <section class="scrollable">
        <div class="site-message">
            <div class="user">@Common.GetUserName()</div>
            <div class="message">Hãy kiểm tra Thư điện tử thường xuyên để được cập nhật những thông tin mới nhất của chúng tôi.</div>
        </div>
        <div class="post-media site-highlighted">
            <section class="m-b-none">
                <div class="carousel auto slide" id="c-fade">
                    @if (Model.lstImageHome != null)
                    {
                        var cnt = (Model.lstImageHome).Count;
                        int count = 1;
                        string classactive = "active";
                        <ol class="carousel-indicators out">                                                     
                            @for (int i = 0; i < cnt; i++)
                            {
                                if (i == 1)
                                {
                                    <li data-target="#c-fade" data-slide-to="0" class="active"  ></li>    
                                }
                                else
                                {
  
                                    <li data-target="#c-fade" data-slide-to="0" class=''></li>
                                }
                                
                            }
                        </ol>
                        <div class="carousel-inner">
                            @foreach (var item in Model.lstImageHome)
                            {
                                classactive = count == 1 ? "active" : "";
                                <div class="item bg-light dker @classactive text-center">
                                    <div class="figure-wrapper">
                                        <div class="figure-image red">
                                            <a href="@item.Url" target="_blank">
                                                <img src="@item.Thumbnail" alt="slide @count">
                                            </a>
                                        </div>
                                    </div>
                                    @*<div class="post-details">
                                        <div class="post-title">mùa hè</div>
                                        <div class="post-desc">tận hưởng</div>
                                    </div>*@
                                </div>
                                count ++;
                            }
                        </div>
                            
                            } 
                            <a class="left carousel-control" href="#c-fade" data-slide="prev"> <i class="i i-arrow-left4 "></i> </a>
                            <a class="right carousel-control" href="#c-fade" data-slide="next"> <i class="i i-arrow-right4 "></i> </a>
                        </div>
            </section>
        </div>
        <!--End slider-->
        <section class="hot-article-wrapper">
            <div class="filter-hot-article">
                <div class="filter-list">
                    <div class="filter-item active"><a href="#view-hot-promotions" class="active">Tin tức & <br /> khuyến mãi</a></div>
                    <div class="filter-item"><a href="#view-hot-services">Quà tặng & <br /> dịch vụ</a></div>
                    <div class="filter-item"><a href="#view-hot-entertainment">Video <br /> giới thiệu sản phẩm</a></div>
                    @*<div class="filter-item"><a href="#view-hot-trainning">Khóa <br /> huấn luyện</a></div>*@
                </div>
            </div>
            <div class="view-hot-article-wrapper">
                <div class="hot-article-row">
                    <div id="view-hot-promotions" class="view-hot-article">
                        <div class="row-sm">
                            @if (Model.lstCategory != null)
                            {
                                foreach (var item in Model.lstCategory)
                                {
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <div class="figure-wrapper">
                                            <div class="figure-image red mobile-up">
                                                <a href='/Tintuc/xem/@item.ID/@item.Slug'><img src='@item.Thumbnail' alt=""></a>
                                            </div>
                                            <div class="caption">
                                                <div class="post-title">
                                                    <a href='/Tintuc/xem/@item.ID/@item.Slug'>@item.Title</a>
                                                </div>
                                                <div class="post-date">
                                                    @item.Date.ToString("dd/MM/yyyy")
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                             
                           
                        </div>
                        <div class="text-center site-pager">
                             
                        </div>
                        <!--End articles pager-->
                    </div>
                    <div id="view-hot-services" class="view-hot-article">
                        <div class="row-sm">
                            @if (Model.lstQuaTang != null)
                            {
                                foreach (var item in Model.lstQuaTang)
                                {
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <div class="figure-wrapper">
                                            <div class="figure-image red mobile-up">
                                                <a href='/Tintuc/xem/@item.ID/@item.Slug'><img src='@item.Thumbnail' alt=""></a>
                                            </div>
                                            <div class="caption">
                                                <div class="post-title">
                                                    <a href='/Tintuc/xem/@item.ID/@item.Slug'>@item.Title</a>
                                                </div>
                                                <div class="post-date">
                                                    @if (item.Date != null)
                                                    {
                                                        @item.Date.ToString("dd/MM/yyyy")
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
 
                            
                        </div>
                        <div class="text-center site-pager">
                           
                        </div>
                        <!--End articles pager-->
                    </div>
                    <div id="view-hot-entertainment" class="view-hot-article">
                         

                        <div class="row-sm">
                            @if (Model.lstGame != null)
                            {
                                foreach (var item in Model.lstGame)
                                {
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <div class="exams-item-large hidden-xs page-exams-list">
                                            <div class="figure-wrapper">
                                                <div class="">                                                    
                                                    <a class="video" title="@item.Title" href="@item.Source"><img src='@item.Thumb' alt=""></a>
                                                </div>
                                                

                                                <div class="caption">
                                                    <div class="post-title">
                                                        <a class="video" href="@item.Source">@item.Title</a>
                                                    </div>
                                                    <div class="post-date">
                                                        @if (item.Created != null)
                                                        {
                                                            @item.Created.ToString("dd/MM/yyyy")
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                                                                      
                                }
                            }
  
                            
                        </div>
                        <div class="text-center site-pager">
                            
                        </div>
                        <!--End articles pager-->
                    </div>
                    <div id="view-hot-trainning" class="view-hot-article">
                        <div class="row-sm">
                            @if (Model.lstTraning != null)
                            {
                                foreach (var item in Model.lstTraning)
                                {
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <div class="figure-wrapper">
                                            <div class="figure-image red mobile-up">                                                
                                                <a href="/Training/Review/@item.ID"><img src='@item.Thumbnail' alt=""></a>
                                            </div>
                                            <div class="caption">
                                                <div class="post-title">
                                                    <a href="/Training/Review/@item.ID">@item.Title</a>
                                                </div>
                                                <div class="post-date">
                                                    @if (item.Date != null)
                                                    {
                                                        @item.Date.ToString("dd/MM/yyyy")
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            } 
                             
                        </div>
                        <div class="text-center site-pager">
                            
                        </div>
                        <!--End articles pager-->
                    </div>
                </div>
            </div>
            <!--End articles list-->
        </section>
        <!--End articles-->
    </section>
</section>

@section scripts{
    
<script src="/static/js/home.js"></script>
}




